div{
    color: black;
}
div h4{
    text-align: center;
}
div p{
    align-items: center;
    text-align: center;
    margin-top: 10px;
}

#proyecto1 {
    background-color: #f8f3f3; /* Color 1 */
    
}  


#Botones {
    text-align: center;
}
.custom-button {
    width: 80px;
    height: 40px;
    background-color: black;
    color: aqua;
    
}