<ion-header translucent="true">
  <ion-toolbar>
    <ion-title>Proyectos</ion-title>

    <ion-card fullscreen="true" id="proyecto1">
        <ion-card-header >
          <ion-card-title>proyecto1</ion-card-title>
        </ion-card-header>
        nombre: si cea<br>
            Descripcion:Sistema integrado de de gestion para academias de conduccion<br>
            estado:En desarrollo    
        <ion-card-content>
          Este proyecto lo desarrollamos en grupo con el fin de dar solucion a los problemas de organizacion en una academia de condiccion, nuestro sistema permite agendar clases regustar vehiculos registar profesores pagar multas por inasistencia y llevar el seguimiento toatl de los grusos en la academia de forma digital 
        </ion-card-content>
      </ion-card>
    <div id="Botones">
        <button class="custom-button" (click)="navigateToHojaDeVida()">volver</button>
    </div>

