
#iniciosesion{
  width: 200px;
  height: min-content;
  background-color: rgb(219, 41, 41);
  color: rgb(64, 236, 11);
  margin-right: 25px;
  text-align: center;
}
#inicio{
  margin-top: 340px;
}