/* login.page.scss */

form {
display: flex;
flex-direction: column;
align-items: center;

}

ion-item {
margin-bottom: 20px;
}



/* boton  de Iniciar sesión*/
ion-button[type="submit"] {
--background: #000000;
--color: aqua;
--border-radius: 5px;
--padding-start: 20px;
--padding-end: 20px;
--padding-top: 10px;
--padding-bottom: 10px;
}
ion-button[type="submit"]:hover {
--background: red;
color: white;
}


