#Cabeza {
    margin: 40px;
    display: flex;
    background-color: aqua;
    align-items: center;
    padding: auto;
}
#Cabeza p {
    margin-left: 20px;
    margin-right: 20px;
}
#Cabeza img{
    height: 200px;
    width: 175px; 
    margin-left: 15%;
    text-shadow: rgba(0, 0, 0, 0.432);
}

#Personalidad {
    margin: 40px;
    background-color: rgb(0, 255, 55);
    align-items: center;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: rgba(0, 0, 0, 0.747);
}

#Botones{
    margin: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
}
#Botones a{
    margin-right: 35px;
}
#Botones button{
    width: 80px;
    height: 40px;
    background-color: #0f0249;
    color: rgb(244, 248, 248);
    margin-right: 25px;
}
#Botones .custom-button:hover{
    color: red;
    background-color: black;
}

#Salida{
    text-align: right;
    padding: 10px;
}
#Salida button{
    width: 80px;
    height: 40px;
    background-color: black;
    color: aqua;
}
#Salida hover {
    background: red;
    color: white;
}

#Salida .custom-button:hover{
    color:white;
    background-color: red;
}
#yo{
    text-align: right;
    
}